<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--<context:property-placeholder location="classpath:/properties/jdbc.properties" ignore-unresolvable="true"/>-->
    <!-- 阿里 druid数据库连接池 -->
    <bean id="dataSourceWrite" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <!-- 数据库基本信息配置 -->
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
        <property name="driverClassName" value="${mysql.driverClassName}"/>
        <property name="filters" value="${mysql.filters}"/>
        <!-- 最大并发连接数 -->
        <property name="maxActive" value="${mysql.maxActive}"/>
        <!-- 初始化连接数量 -->
        <property name="initialSize" value="${mysql.initialSize}"/>
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="${mysql.maxWait}"/>
        <!-- 最小空闲连接数 -->
        <property name="minIdle" value="${mysql.minIdle}"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="${mysql.timeBetweenEvictionRunsMillis}"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="${mysql.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${mysql.validationQuery}"/>
        <property name="testWhileIdle" value="${mysql.testWhileIdle}"/>
        <property name="testOnBorrow" value="${mysql.testOnBorrow}"/>
        <property name="testOnReturn" value="${mysql.testOnReturn}"/>
        <property name="maxOpenPreparedStatements" value="${mysql.maxOpenPreparedStatements}"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="${mysql.removeAbandoned}"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="${mysql.removeAbandonedTimeout}"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="${mysql.logAbandoned}"/>
    </bean>
    <!--<bean id="dataSourceRead" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">-->
        <!--&lt;!&ndash; 数据库基本信息配置 &ndash;&gt;-->
        <!--<property name="url" value="${mysql.url}"/>-->
        <!--<property name="username" value="${mysql.username}"/>-->
        <!--<property name="password" value="${mysql.password}"/>-->
        <!--<property name="driverClassName" value="${mysql.driverClassName}"/>-->
        <!--<property name="filters" value="${mysql.filters}"/>-->
        <!--&lt;!&ndash; 最大并发连接数 &ndash;&gt;-->
        <!--<property name="maxActive" value="${mysql.maxActive}"/>-->
        <!--&lt;!&ndash; 初始化连接数量 &ndash;&gt;-->
        <!--<property name="initialSize" value="${mysql.initialSize}"/>-->
        <!--&lt;!&ndash; 配置获取连接等待超时的时间 &ndash;&gt;-->
        <!--<property name="maxWait" value="${mysql.maxWait}"/>-->
        <!--&lt;!&ndash; 最小空闲连接数 &ndash;&gt;-->
        <!--<property name="minIdle" value="${mysql.minIdle}"/>-->
        <!--&lt;!&ndash; 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 &ndash;&gt;-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="${mysql.timeBetweenEvictionRunsMillis}"/>-->
        <!--&lt;!&ndash; 配置一个连接在池中最小生存的时间，单位是毫秒 &ndash;&gt;-->
        <!--<property name="minEvictableIdleTimeMillis" value="${mysql.minEvictableIdleTimeMillis}"/>-->
        <!--<property name="validationQuery" value="${mysql.validationQuery}"/>-->
        <!--<property name="testWhileIdle" value="${mysql.testWhileIdle}"/>-->
        <!--<property name="testOnBorrow" value="${mysql.testOnBorrow}"/>-->
        <!--<property name="testOnReturn" value="${mysql.testOnReturn}"/>-->
        <!--<property name="maxOpenPreparedStatements" value="${mysql.maxOpenPreparedStatements}"/>-->
        <!--&lt;!&ndash; 打开removeAbandoned功能 &ndash;&gt;-->
        <!--<property name="removeAbandoned" value="${mysql.removeAbandoned}"/>-->
        <!--&lt;!&ndash; 1800秒，也就是30分钟 &ndash;&gt;-->
        <!--<property name="removeAbandonedTimeout" value="${mysql.removeAbandonedTimeout}"/>-->
        <!--&lt;!&ndash; 关闭abanded连接时输出错误日志 &ndash;&gt;-->
        <!--<property name="logAbandoned" value="${mysql.logAbandoned}"/>-->
    <!--</bean>-->
</beans>

